@media(min-width:426px){
  .detail_map_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  }
  
  @media(max-width:426px){
    .detail_map_wrapper {
      display: flex;
      flex-direction: column;
      width: 370px;
      margin-bottom: 100px;
      margin-left: -30px;
      /*border: 1px solid red;*/
    }
    }
  
  @media(min-width:426px){
  .detail_map_wrapper_top {
    display: flex;
    margin-bottom: 36px;
  }
  }
  
  @media(max-width:426px){
  .detail_map_wrapper_top {
    margin-bottom: 36px;
  }
  }
  
  @media(min-width:426px){
  .detail_map_title {
    flex-grow: 2;
    font-size: 24px;
    font-weight: 700;
    margin: auto auto auto 0px;
  }
  }
  
  @media(max-width:426px){
    .detail_map_title {
      flex-grow: 2;
      font-size: 22px;
      font-weight: 700;
      margin: auto auto auto 0px;
  }
  }
  
  @media(min-width:426px){
  .detail_map_address {
    display: inline-block;
  }
  }
  
  @media(max-width:426px){
    .detail_map_address {
      margin-top: 15px;
      display: inline-block;
    }
    }
  
  @media(min-width:426px){
  .detail_map_box {
    height: 48px;
    display: flex;
    background-color: #F8F8F8;
    border-radius: 20px;
    padding: 12px;
  }
  }
  
  @media(max-width:426px){
    .detail_map_box {
      width: 370px;
      height: 48px;
      display: flex;
      background-color: #F8F8F8;
      border-radius: 20px;
      padding: 12px;
    }
    }
  
  .detail_map_box > svg {
    margin: auto 6px auto 2px;
  }
  
  .detail_icon{
    margin-left: 20px;
    display: flex;
  }
  .detail_icon > svg {
    margin: auto 4px auto auto;
  }
  
  .detail_map_font{
    font-size: 16px;
  }
  
  .detail_map_font2{
    font-size: 13px;
    color:#8E8E8E;
    transform: translateY(1px);
    margin-right: 6px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .detail_map {
    display: flex;
  }

.kakao_map {
  margin-right: 40px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 28px 0px;
  margin: auto 0px auto auto;
  padding: 12px 0px;
}
.buttonContainer > div > div {
  text-align: center;
}

.whiteButton {
  flex-grow: 1;
  padding: 22px 80px;
  background: #FFFFFF;
  box-shadow: 0px 4px 22px -1px rgba(120, 120, 120, 0.25);
  border-radius: 50px;
  cursor: pointer;
}
.whiteButton > div {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.04em;
  color: #454545;
  white-space: nowrap;
}

.blackButton {
  display: flex;
  flex-grow: 1;
  padding: 28px 80px;
  background: #404040;
  box-shadow: 0px 4px 22px -1px rgba(120, 120, 120, 0.25);
  border-radius: 50px;
  cursor: pointer;
}
.blackButton > svg {
  margin: auto 12px auto auto;
}
.blackButton > div {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.04em;
  color: #ffffff;
  white-space: nowrap;
  margin: auto auto auto 0px;
}