@media(min-width:426px){
.infoContainer {
    display: flex;
    flex-direction: row;
}
}
        
@media(max-width:426px){
.infoContainer {
    margin: 0px auto;
}
}
    
@media(min-width:426px){
.gageInfo {
    flex-grow: 1;
    padding: 34px 30px;
    background: #FFFFFF;
    border-radius: 32px 32px 0px 32px;
    box-shadow: 0px 4px 31px 5px rgba(228, 228, 228, 0.5);
    margin-left: 24px;
}
}
        
@media(max-width:426px){
.gageInfo {
    flex-grow: 1;
    margin: 0px auto;
    /*height: 550px;*/
}
}

@media(min-width:426px){
.titleContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
}

@media(max-width:426px){
.titleContainer {
    display: flex;
    flex-direction: row;
    margin: -525px auto 475px auto;
}
}
    
@media(min-width:426px){
.gageInfoContainer {
    display: flex;
    flex-direction: row;
    margin: auto auto;
}
}
    
@media(max-width:426px){
.gageInfoContainer {
    display: flex;
    flex-direction: row;
}
}
    
.gageImg {
    width: 786px;
    height: 421px;
    border-radius: 10px 10px 10px 10px;
}
    
@media(min-width:426px){
.gageCircle{
    position: absolute;
    margin: 6px auto auto 7px;
    z-index: 1;
}
}
    
@media(max-width:426px){
.gageCircle{
    display: none;
}
}
    
@media(min-width:426px){
.gageName {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.04em;
    z-index: 2;
}
}
    
@media(max-width:426px){
.gageName {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.04em;
    z-index: 2;
}
}
    
@media(min-width:426px){
.gageGubun {
    margin: 5px auto auto 10px;
    color:#8C8C8C;
    font-size: 16px;
    width: 80px;
    letter-spacing: -0.04em;
}
}
    
@media(max-width:426px){
.gageGubun {
    margin: 10px auto auto 15px;
    color:#8C8C8C;
    font-size: 24px;
    letter-spacing: -0.04em;
}
}
    
@media(min-width:426px){
.likeButton {
    margin: 0px 0px auto auto;
}
}

@media(max-width:426px){
.likeButton {
    margin: auto 30px auto auto;
}
}
    
@media(min-width:426px) {
.gageContentContainer {
    display: flex;
    margin-bottom: 32px;
}
}
    
@media(max-width:426px) {
.gageContentContainer {
    display: flex;
    margin: 0px auto 45px auto;
}
}

@media(min-width:426px) {
.gageContent {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
}

@media(max-width:426px) {
.gageContent {
    display: flex;
    margin: 0px auto auto 25px;
    font-size: 22px;
    flex-direction: column;
}
}
    
.gageAddress > div {
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-left: 12px;
}

@media(min-width:426px) {
.gageContentTitle {
    font-weight: 700;
    letter-spacing: -0.04em;
}
}

@media(max-width:426px) {
.gageContentTitle {
    font-size: 23px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
}