@media(max-width:426px){
  .title {
    margin-bottom: 28px;
    margin-left: 16px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.04em;
  }
}
@media(min-width:426px){
  .title {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 32px;
    letter-spacing: -0.04em;
  }
}

@media(max-width:426px){
  .buttonContainer {
    display: flex;
    width: 100%;
    gap: 8px;
    padding: 0px 16px;
    margin-bottom: 40px;
    overflow-x: scroll;
  }
}
@media(min-width:426px){
  .buttonContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 60px;
  }
}

@media(max-width:426px){
  .button {
    flex-shrink: 0;
    border: 1px solid #E97869;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.04em;
    color: #E97869;
    padding: 8px 20px;
    transition: 0.3s;
  }

  .buttonClicked {
    flex-shrink: 0;
    border: 1px solid #E97869;
    background-color: #E97869;
    border-radius: 8px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.04em;
    color: #ffffff;
    padding: 8px 20px;
    transition: 0.3s;
  }
}
@media(min-width:426px){
  .button {
    border: 1px solid #E97869;
    background-color: #ffffff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #E97869;
    padding: 8px 24px;
    transition: 0.3s;
  }

  .buttonClicked {
    border: 1px solid #E97869;
    background-color: #E97869;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.04em;
    color: #ffffff;
    padding: 8px 24px;
    transition: 0.3s;
  }
}

@media(max-width:426px){
  .carouselContainer{
    width: 100vw;
    flex-shrink: 0;
    margin: auto auto;
  }
}
@media(min-width:426px){
  .carouselContainer{
    width: 670px;
    flex-shrink: 0;
    transform: translateX(-35px);
  }
}

@media(max-width:426px){
  .contentContainer {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media(min-width:426px){
  .contentContainer {
    display: flex;
    flex-direction: row;
    position: relative;
  }
}

@media(max-width:426px){
  .storeInfo {
    box-shadow: 0px 4px 31px 5px rgba(31, 31, 31, 0.25);
    background: #8F7BF7;
    border-radius: 32px 32px 32px 0px;
    padding: 23px 32px;
    width: 375px;
    margin: -20px auto 40px auto;
    z-index: 30;
    cursor: pointer;
  }
}
@media(min-width:426px){
  .storeInfo {
    box-shadow: 0px 4px 31px 5px rgba(31, 31, 31, 0.25);
    background: #8F7BF7;
    border-radius: 32px 32px 32px 0px;
    padding: 23px 32px;
    position: absolute;
    bottom: -30px;
    left: -30px;
    cursor: pointer;
  }
}

.name {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.04em;
  color: #7BE7A3;
}

@media(max-width:426px){
  .border {
    height: 12px;
    width: 2px;
    background-color: #B9ADF3;
    margin: 9px 16px auto 19px;
    flex-shrink: 0;
  }
  .gubun {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 4px 20px auto 0px;
    flex-shrink: 0;
  }
}
@media(min-width:426px){
  .border {
    height: 12px;
    width: 2px;
    background-color: #B9ADF3;
    margin: auto 16px auto 19px;
  }
  .gubun {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: auto 20px auto 0px;
    flex-shrink: 0;
  }
}

.address {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: auto auto auto 10px;
}

.time {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: auto auto auto 10px;
}

.kakaoMobileSvg {
  margin: 0px 0px auto auto;
}

.reviewContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
}

@media(max-width:426px){
  .review {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 31px 5px rgba(230, 230, 230, 0.5);
    border-radius: 32px 32px 0px 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 32px;
    width: 380px;
  }
  .review:nth-child(2) {
    border-radius: 32px 32px 32px 0px !important;
  }
}
@media(min-width:426px){
  .review {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 31px 5px rgba(230, 230, 230, 0.5);
    border-radius: 32px 32px 0px 32px;
    margin-left: auto;
    margin-right: 0px;
    padding: 25px 32px;
    width: 380px;
  }

  .review:nth-child(2) {
    border-radius: 32px 32px 32px 0px !important;
    margin-left: 0px !important;
  }
}

.content {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.04em;
  color: #000000;
}

.createdBy {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  color: #959595;
  margin: auto 0px 0px auto;
}