

.banner_menu > p {
    position: absolute;
    width: 387px;
    height: 41px;
    left: 363px;
    top: 120px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
}

.search_t {
    position: absolute;
    width: 582px;
    height: 102px;
    left: 363px;
    top: 222px;

    background: #FFFFFF;
    box-shadow: 0px 4px 31px 5px rgba(230, 230, 230, 0.25);
    border-radius: 16px;
}

.searchbar {
    width: 500px;
    height: 102px;
    border: none;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.04em;
    margin-left: 24px;
    color: dimgray;

    background-image: url("icons/search.png");
    background-position: 460px center;
    background-size: 54px;
    background-repeat: no-repeat;

    padding: 5px 5px;

}
.searchbar:focus {
    outline: none;
}

.search_t img {
    width: 30px;
    border: none;
    -webkit-appearance: none;
    text-align: center;
    margin-left: 10px;
    overflow: auto;
    z-index: -1;
    font-size: 15px;
}


.map{
    position: absolute;
    width: 582px;
    height: 102px;
    left: 975px;
    top: 222px;

    background: #FFFFFF;
    /* sha2 */

    box-shadow: 0px 4px 31px 5px rgba(230, 230, 230, 0.25);
    border-radius: 16px;

    background-image: url("icons/map.png");
    background-position: 480px center;
    background-size: 54px;
    background-repeat: no-repeat;

    padding: 5px 5px;

}


.map > p{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 90px;
    margin-left: 24px;
    letter-spacing: -0.04em;

    color: #000000;
}
