.navbar {
    width: 100%;
    height: 75px;
}

.logoSvg {
    scale: 0.7;
}

.nav > a:nth-child(n) {
    margin: 0px 20px 0px;
    letter-spacing: -0.04em;
    color: #000000;
}
.nav > a:nth-child(n):hover {
    color: #E97869;
}

.loginButton {
    margin: 5px 10px;
    scale: 0.9;
    cursor: pointer;
}

.userprofile {
    display: flex;
    flex-direction: row;
}

.userprofile > img {
    width: 35px;
    height: 35px;
    margin: 0px 15px 0px;
}

.userprofile > p {
    margin: auto;
    letter-spacing: -0.04em;
}