
.backButton{
  display: flex;
  border:1px solid black;
  border-radius: 30px;
  padding: 16px 24px;
  margin: 0px auto 34px 0px;
  cursor: pointer;
}
.backButton > svg {
  margin: auto auto;
}



@media(min-width:481px){
.category {
  margin-bottom: 6px;
  font-size: 16px;
  color: #8c8c8c;
}
}

@media(max-width:480px){
  .category {
    margin-bottom: 6px;
    font-size: 14px;
    color: #8c8c8c;
  }
  }


@media(min-width:481px){
.name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}
}

@media(max-width:480px){
.name {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 32px;
}
}

@media(min-width:481px){
.subTitle {
  display: flex;
  padding: 20px 10px;
  border-bottom: 2px solid #000000;
}
}


@media(max-width:480px){
.subTitle {
  display: flex;
  padding: 10px 0px;
  border-bottom: 2px solid #000000;
}
}



@media(min-width:481px){
.titleText {
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.04em;
  font-size: 24px;
}
}

@media(max-width:480px){
  .titleText {
    padding: 10px 0px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.04em;
    font-size: 18px;
  }
}

@media(min-width:481px){
.counterBox {
  background: #FFFFFF;
  border: 2px solid #F1F1F1;
  padding: 18px 28px;
}
}

@media(max-width:480px){
  .counterBox {
    background: #FFFFFF;
    border: 2px solid #F1F1F1;
    padding: 18px 28px;
  }
  }
  


.reviewReqTextContainer {
  display: flex;
}
@media(min-width:481px){
.reviewReqTextContainer > div {
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 24px;
}

}@media(max-width:480px){
  .reviewReqTextContainer > div {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 24px 0px 24px 0px;
  }
  }
  

.reviewButton {
  display: flex;
  height: 68px;
  background: #E97869;
  box-shadow: 0px 4px 31px 5px rgba(228, 228, 228, 0.25);
  border-radius: 16px;
  padding: 19px 27px;
  cursor: pointer;
}
.reviewButton > div {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: auto auto auto 0px;
}
.reviewButton > svg {
  margin: auto 0px auto auto;
}

@media(min-width:481px){
  .forresponsive{
    display: flex;
    padding: 18px 10px;
  }
}

@media(max-width:480px){
  .forresponsive{
    padding:23px 23px;
  }
}