
@media(min-width:481px){
    .kakao_btn{
        width: 200px;
        cursor: pointer;
    }
}
@media(max-width:480px){
    .kakao_btn{
        display:none;
    }
}

.logout_btn {
    display: flex;
    color: #939393;
    font-size: 13px;
    margin: auto 25px;
    margin-right: 0px;
    cursor: pointer;
}
.logout_btn > div {
    margin: auto auto;
    transform: translateY(-1px); /* intended */
    letter-spacing: -0.04em;
}
.logout_btn > svg {
    margin: auto auto auto 6px;
}
@media (max-width:480px){
    .mobilelogin{
        width:84px;
        height:34px;
        margin: auto 20px auto auto;
    }
}
@media(min-width:481px){
    .mobilelogin{
        display: none;
    }
}