.kakao_btn{
    background-image: url("/src/images/kakao_login_medium_narrow.png");
    background-repeat: no-repeat;
    width: 183px;
    height: 45px;
    display: block;
    cursor: pointer;
}

.logout_btn {
    color: #939393;
    font-size: 13px;
    margin: auto 25px;
    margin-right: 0px;
    cursor: pointer;
}

.logout_btn > svg {
    margin-left: 6px;
}