.kakao_btn{
    scale: 0.95;
    width: 183px;
    height: 50px;
    display: block;
    cursor: pointer;
}

.logout_btn {
    display: flex;
    color: #939393;
    font-size: 13px;
    margin: auto 25px;
    margin-right: 0px;
    cursor: pointer;
}
.logout_btn > div {
    margin: auto auto;
    transform: translateY(-1px); /* intended */
}
.logout_btn > svg {
    margin: auto auto auto 6px;
}