.card {
    position: absolute;
    top: 20px;
    left: 0px;
    margin-left: 30px;
    z-index: 30;
    /*height: 1200px;*/
    /*overflow-y: scroll;*/
}
.card_outer {
    display: flex;
}

.card::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.card > div {
    position: relative;
    top: 80px;
    width: 380px;
    height: fit-content;
    border: 1px solid #e6e6e6;
    background-color: white;
    border-radius: 10px;
}

.topOuter {
    height: 800;
}

.cardTop {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 13%;
    border-radius: 10px;
    justify-content: flex-start;
    margin: 3%;
}
.cardTop_tour {
    display: flex;
    flex-direction: row;
    width: 380px;
    height: 13%;
    border-radius: 10px;
    justify-content: flex-start;
    margin: 5% 5%;
}

.cardTagOuter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}
.cardName {
    font-size: 20px;
    font-weight: bold;
}

.cardTag {
    margin-left: 10px;
}

.divSections {
    border: 0;
    width: 100%;
    height: 8px;
    background: #f7f7f7;
}

.cardImg {
    padding: 32px;
}

.cardImg > img {
    align-items: center;
    margin-left: 8px;
    width: 93px;
    border-radius: 10px;
    object-fit: cover;
}
.cardImg_tour {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.cardImgtour > img {
    align-items: center;
}
.tourImg {
    width: 50%;
}

.cardMiddle {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 380px;
    border-radius: 10px;
    padding: 28px 20px;
    height: 420px;
    overflow-y: scroll;
}
.cardMiddle_tour {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 380px;
    border-radius: 10px;
    padding: 28px 20px;
    height: fit-content;
    align-items: flex-start;
    overflow-y: scroll;
    height: 400px;
    justify-content: space-around;
}
.addressTop {
    display: flex;
    align-items: center;
}

.addressTop_tour {
    display: flex;
    align-items: center;
    padding: 5% 5%;
}

.cardMiddle .addressInfo {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.cardMiddle_tour .addressInfo {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 10px;
}

.tour_overviewInfo {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}
.overview_top {
    display: flex;
    align-items: center;
    padding: 5% 5%;
    width: fit-content;
}
.overviewDetail {
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin-top: 6px;
    margin-left: 24px;
    line-height: 20px;
}

.overviewDetail2 {
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin-top: 6px;
    margin-left: -4px;
    line-height: 20px;
    overflow: scroll;
    height: 140px;
    line-height: 23px;
}
.overviewDetail2::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.overview_name {
    width: 60px;
    margin-left: 5px;
}
.copy {
    margin-left: 1px;
}

.copyBtn {
    border: solid 0 white;
    text-decoration: underline;
    text-underline-position: under;
    background: white;
    color: #8e8e8e;
}

.cardMiddle .timeInfo {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.cardMiddle .callInfo {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

.cardMiddle .callInfo > img {
    width: 24px;
}

.cardMiddle .addressInfo .addressDetail {
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin-top: 6px;
    margin-left: 24px;
    display: flex;
    justify-content: flex-start;
}

.cardMiddle_tour .addressInfo .addressDetail {
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin-top: 6px;
    margin-left: 24px;
}

.cardMiddle .timeInfo .timeDetail {
    display: flex;
    justify-content: flex-start;
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin-top: 6px;
    line-height: 24px;
    margin-left: 24px;
}

.cardMiddle .callInfo .callDetail {
    font-weight: normal;
    font-size: 16px;
    padding: 0;
    margin-top: 6px;
    margin-left: 24px;
}

.cardMiddle > hr {
    border: 1%;
    background: #e6e6e6;
    margin: 0;
}

.cardMiddle > div {
    text-align: left;
}

.cardMiddle > div > div {
    text-align: left;
    padding-top: 3%;
    margin: 24px 0;
}

.cardBottom {
    height: 500px;
    position: relative;
}

.reviews {
    font-weight: bold;
    font-size: 16px;
    padding: 24px 15px;
}

.evaluate_outer {
    display: flex;
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
    color: #8c8c8c;
    justify-content: space-between;
}

.moreTab {
    display: flex;
    top: 24px;
    right: 56px;
    color: #939393;
    font-size: 16px;
    font-weight: normal;
}
.more {
    padding-left: 50%;
}
.morebtn {
    border: 0px solid white;
    background: white;
    font-size: 14px;
    color: #8c8c8c;
}

.totalReviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 36px;
    font-weight: normal;
    color: #8c8c8c;
}

.totalReviews img {
    display: block;
    margin-bottom: 12px;
}

.totalReviews span {
    display: block;
    text-align: center;
    margin-left: 0;
}

.profile {
    margin-top: 22px;
}

.profile img {
    margin-right: 10px;
}

.DetailReviews {
    margin-bottom: 24px;
}

.DetailReviews p {
    font-weight: normal;
    margin-top: 12px;
}

.DetailReviews .date {
    font-size: 14px;
    color: #8c8c8c;
    font-weight: normal;
    display: inline;
}

.DetailReviews .face {
    display: inline;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    margin-left: 100px;
    margin-bottom: 24px;
}

.DetailReviews .face img {
    width: 26px;
    margin-right: 8px;
}

.Buttons {
    display: flex;
    flex-direction: column;
    padding: 44px 44px;
}

.DetailButton {
    width: 280px;
    height: 50px;
    background: #e97869;
    border: 0;
    box-shadow: 0px 5px 12px 4px rgba(181, 181, 181, 0.25);
    margin-top: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.heart {
    border: 0;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    background-color: #fff;
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 10%;
    cursor: pointerx;
}

.exitbutton {
    position: absolute;
    margin-top: 15px;
    margin-left: 367px;
    z-index: 28;
}

.exitbutton > button {
    display: inline-block;
    color: #e97869;
    background-color: white;
    border-radius: 0 10px 10px 0;
    border: solid 1px #e6e6e6;
    width: 44px;
    height: 44px;
}

.exitbutton_tour {
    position: absolute;
    margin-top: 5px;
    margin-left: 360px;
    z-index: 28;
}

.exitbutton_tour > button {
    display: inline-block;
    color: #e97869;
    background-color: white;
    border-radius: 0 10px 10px 0;
    border: solid 1px #e6e6e6;
    width: 44px;
    height: 44px;
}

.AddCourseBtn {
    width: 280px;
    height: 50px;
    background: white;
    border: solid 1px #e97869;
    /* box-shadow: 0px 5px 12px 4px rgb(181 181 181 / 25%); */
    margin-top: 10px;
    border-radius: 8px;
    color: #e97869;
    font-weight: bold;
}

.top {
    display: flex;
    align-items: center;
}
.bottom {
    display: flex;
    align-items: center;
    padding-left: 5%;
}
.bottom_2 {
    display: flex;
    align-items: center;
    padding-left: 5%;
    width: 150px;
}
.tourapi_outer {
    display: flex;
}
.tourapi {
    margin-top: 10px;
    margin-left: 160%;
}
.evaluate_outer {
    display: flex;
    align-items: center;
}

.evaluate {
    font-size: 16px;
    font-weight: bold;
}
.reviewcount {
    margin-left: 10px;
}
