.list_outer {
    position: absolute;
    bottom: 0px;
    left: 15px;
    z-index: 30;
    height: calc(100vh - 90px);
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 10px 10px 0px 0px;
}
.list_display {
    position: absolute;
    bottom: 0px;
    left: 15px;
    z-index: 30;
    height: calc(100vh - 90px);
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 10px 10px 0px 0px;
    display: none;
}

.list {
    position: absolute;
    width: 380px;
    height: calc(100vh - 90px);
    border: 1px solid #e97869;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

.cardTop {
    display: flex;
    width: 380px;
    height: 50px;
    border-radius: 10px;
    margin: 0 0 20px 0;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

.exitbutton {
    position: absolute;
    top: 24px;
    right: -44px;
    z-index: 28;
}

.exitbutton > button {
    display: inline-block;
    color: #e97869;
    background-color: white;
    border-radius: 0 10px 10px 0;
    border: solid 1px #e6e6e6;
    width: 44px;
    height: 44px;
}
.result_outer {
    position: inherit;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

.result {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 380px;
    border-radius: 10px;
}

.result > div {
    display: flex;
    height: 33%;
    width: auto;
    text-align: left;
    margin: 5%;
    cursor: pointer;
}

.result_name {
    text-align: left;
    font-size: x-large;
    font-weight: bold;
    padding-left: 19px;
    max-width: 315px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result_tag {
    text-align: left;
    font-size: medium;
    font-weight: 400;
    margin: auto auto 5px 15px;
}
